---
version: 2
updates:
{% for item in list %}
  {% for package, interval in item.items() %}
  - package-ecosystem: {{package}}
    directory: '/**/*'
    schedule:
      interval: {{interval}}
  {% endfor %}
{% endfor %}
